@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Saira:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Saira:wght@300;600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.head{
    display: flex;
    margin-bottom: 20px;
}
.dropdown{
    margin-left: auto;
    height: 50px;
    border: 2px solid black;
    border-radius: 4px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h1{
    font-weight: 800;
    font-size: 30px;
}
input{
    border: none;
    border-radius: 4px;
    padding: 0.15em 0.5em;
    width: 90%;
    background-color: rgb(225, 225, 225);
}
.inputa{
    width: 50%;
}
label{
    font-weight: 600;
}
textarea{
    width: 90%;
    min-height: 200px;
}

::placeholder{
    font-size: 2.5vh;
}

.Q{
    margin: 1.5em;
    padding: 1.5em;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 2px 2px 2000px rgb(222, 222, 222);
    overflow: hidden;
}
.q{
    margin: 20px;
}
.generate{
    border: 2px solid black;
    background-color: none;
    padding: 0.35em;
    margin: 0.35em;
    position: absolute;
    left: 40%;
}
.add{
    /* height: 2em; */
    max-width: 10em;
    padding: 3px 7px;
    margin: 10px;
    text-align: center;
    border: 2px solid gray;
    border-radius: 3px;
    background-color: rgb(225, 225, 225);
    background-color: white;
}
.add img{
    height: 20px;
}
.desclass input{
    margin: 3px;
    width: 25em;
}

/* .main{
    display: none;
} */

.templates{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.temp{
    /* padding: 20px;
    margin: 2em; */
    /* border: 2px solid rgb(63, 63, 63); */
    max-width: 200px;
    min-height: 300px;
    /* border-radius: 3px;
    background-color: #5b6b7a;
    color: white; */
}

.Resume1{
    background-color: white;
    /* margin: 20px; */
    margin-top: 20px;
    margin-bottom: auto;
    min-height: 100vh;
    min-width: 10vh;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-family: 'Saira', sans-serif!important;
    /* transform: scale(0.75); */
}
.name,.Resume1 h1{
    font-family: 'Saira', sans-serif !important;
}
.o-wh,.o-whp,.o-whd,.o-wha{
    font-family: 'Saira', sans-serif !important;
} 
.Resume1 li,.education p,b{
    font-family: 'Saira', sans-serif !important;
    font-weight: 300;
}

.Resume1 .left h1{
    font-weight: 900;
    border-bottom: 1px solid black;
    margin: 32px 0 25px 0;
    color: #5b6b7a;
}
.Resume1 .right h1{
    font-weight: 900;
    border-bottom: 1px solid white;
    margin: 35px 0 25px 0;
}
.left{
    background-color: white;
    margin: 1.5em 2em;
}
.name{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    color: #5b6b7a;
}
/* .left .std1{
    margin-top: 30px;
} */
.left .std2{
    max-width: 400px;
    font-size: 15px;
    font-weight: 900;
}
.left .std3{
    margin-left: 1em;
}
.left .wh{
    margin-bottom: 1.5em;
}
.right{
    background-color: #5b6b7a;
    color: white;
    padding: 2em 2em;
}
.right .cstd1{
    padding: 5px;
    margin: 3px;
}
.right .cstd1 img{
    height: 20px;
    padding: 3px;
    margin-right: 17px;
    border-radius: 4px;
    background-color: white;
}
.right .cstd2{
    margin-left: 1.3em;
}

.action_button{
    text-align: center;
    margin: 3% 23%;
    border: 2px solid black;
    max-width: 300px;
    padding: 20px 20%;
    background-color: #5b6b7a;
    color: white;
}
.mrcs{
    text-align: center;
    padding: 20px;
}
/* .Resume1{
    transform: scale(1);
}
.main,.hideit,.tittle{
    display: none;
} */
.credit{
    text-align: center;
}

@media only screen and (max-width: 1000px){
.container{
    display: block;
}
}
@media only screen and (max-width: 600px){
.Resume1{
    font-size:xx-small;
    display: block;
}
}
